<!DOCTYPE html>
<html>
<head id="head" runat="server">
<title></title>
<link href="{{tg.url('/css/bootstrap.min.css')}}" rel="stylesheet" media="screen"/>
<link href="{{tg.url('/css/style1.css')}}" rel="stylesheet" type="text/css" media="screen"/>
<script src="{{tg.url('/javascript/jquery-2.1.4.min.js')}}"></script>
<script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
</head>
<body>
<div id="img">	 
	<img src="{{tg.url('/images/finallogo1.png')}}" alt="GNUKhata" align="right" hight="60" width="350" background-position:"top right;"> 
</div> 
<div style="background-color:#666699; color:White; padding:20px; align:top;"> 
	<h4>{{ params[0] }}</h4> 
	<h5>For Financial Year From {{params[1]}} to {{params[2]}} </h5> 
</div> 
<form class="form-horizontal wrapper" action="login" id="form2" runat="server">
<h1 id="org">Organization particular</h1>
<div class="container">
<div class="form-group" text-align="justify" align="left" style="width:600px; float:left; position:relative;">
<table>
<tr><td><label>Registration Number:</label></td>               
    <td><input type="text" id="regname" name="reg" align="right" size="20" runat="server"/></td>
</tr>
<tr><td><label>FCRA Registration Number:</label></td>
    <td><input type="text" id="fc" name="fcraregname" runat="server"/></td>
</tr>
<tr><td><label>Address:</label>
    <td><input type="text" id="ad" name="add" runat="server"/>
<tr><td><label>Country:</label> 
    <td><select id="cntr" name="cntr" onChange="f1();" style="width:180px" runat="server">
        <option value="ps">-----Please Select----</option>
        <option value="in" onSelect="f1();">India</option> 
        </select> 
</tr>
<tr><td><label>State:</label>
    <td><select disabled="disabled" id="st" name="st" style="width:180px" runat="server">
  <option value="ps">-----Please Select----</option>
  <option value="mh">Maharashtra</option>
  <option value="go">Goa</option>
  <option value="ktk">Karnataka</option>
  <option value="krl">Keral</option>
  </select>
</tr>
<tr><td><label>City:</label>
    <td><select disabled="disabled" id="ct" name="ct" style="width:180px" runat="server">
  <option value="ps">-----Please Select----</option>  
  <option value="mh">Maharashtra</option>
  <option value="go">Goa</option>
  <option value="ktk">Karnataka</option>
  <option value="krl">Keral</option>
  </select>
</tr>
<tr><td><label>postal code:</label>
    <td><input id="po" type="text" name="pcode" size="20" runat="server"/>
</tr>
<tr><td><label>VAT No:</label>
    <td><input type="text" name="vatno" size="20" runat="server"/> 
</tr>
</table>
</div>
<div class="form-group" align="right">
<table>
<tr><td><label>Date of Registration:</label>
    <td><input type="text" name="dtregdd"  placeholder="dd" size="2" runat="server"/>-<input type="text" name="dtregmm" placeholder="mm" size="2" runat="server"/>-<input type="text" name="dtregyy"  placeholder="yy" size="2"runat="server"/>
</tr>
<tr><td><label>Date of FCRA Registration:</label>
    <td><input type="text" name="dtfcraregdd"  placeholder="dd" size="2" runat="server"/>-<input type="text" name="dtfcraregmm"  placeholder="mm" size="2" runat="server"/>-<input type="text" name="dtfcraregyy"  placeholder="yy" size="2" runat="server"/>
</tr>
<tr><td><label>Telephone Number:</label>                
    <td><input type="text" name="tel" size="20"runat="server"/>
</tr>
<tr><td><label>Email-id:</label>
    <td><input type="text" name="emailid" size="20" runat="server"/>
</tr>
<tr><td><label>Fax Number:</label>
    <td><input type="text" name="fax" size="20" runat="server"/>
</tr>
<tr><td><label>website:</label>
    <td><input type="text" name="wbsite" size="20" runat="server"/>
</tr>
<tr><td><label>Permanent Account Number:</label>
    <td><input type="text" name="pmntaccno" size="20" runat="server"/>
</tr>
<tr><td><label>Service Tax Number:</label>
    <td><input type="text" name="srvctaxno" size="20" runat="server"/>
</tr>
</table>
</div>
<div class="cls">
<input type="hidden" name="orgname" value="{{params[0]}}" />
<input type="hidden" name="orgtype" value="{{params[3]}}" />
<input type="hidden" name="fromDate" value="{{params[1]}}" />
<input type="hidden" name="toDate" value="{{params[2]}}" />
<br><br><br>
<a href="javascript:history.back()" class="btn btn-info pull-left"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>
<button type="submit" class="btn btn-success col-sm-offset-3" name="save" value="Save" runat="server"><span class="glyphicon glyphicon-save"></span>Save</button> 
<button type="submit" class="btn btn-primary col-sm-offset-3" name="skip" value="Skip" runat="server"><span class="glyphicon glyphicon-fast-forward"></span>Skip</button>
</div>
</div>
</form>
</body
</html>